---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404" description="Page not found">
	<div class="prose dark:prose-invert max-w-2xl mx-auto w-full px-6 py-12">
		<h1>404 — Page not found</h1>
		<img
			src="https://i.pinimg.com/736x/77/aa/35/77aa3501a641d61d40b9c8afdc1f2dec.jpg"
			alt="Shocked Miku"
			class="mx-auto my-6 rounded-lg"
		/>
	</div>
</Layout>
